*,
body {
  font-family: 'Montserrat', sans-serif;
  background-color: bisque;
}

.container__open-weather {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container__city {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container__temp {
  margin: 3rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.temp {
  font-size: 6rem;
}

.container__list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.container__list-spec {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 1rem 1.5rem;
  padding: 8px;
  border-radius: 0.5rem;
  border: 1px solid black;
  width: 10rem;
  height: 10rem;
}

.container__list-spec-time,
.container__list-spec-temp,
.container__list-spec-weather {
  padding-bottom: 5px;
}

.container__list-spec-temp {
  font-size: 1.25rem;
  font-weight: 600;
}


.container__datos {
  display: flex;
  justify-content: center;
  margin: 4rem 0 2rem 0;
  border-radius: 0.5rem;
  border: 1px solid black;
}

.container__data {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 1rem 1.5rem;
}